<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html  >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> connecttotv </title>
    <!--<style>
        @font-face {
            font-family: 'HelveticaNeueCyr-Bold.otf';
            src: url(../../fonts/HelveticaNeueCyr-Bold.otf);
        }
        @font-face {
            font-family: 'HelveticaNeueCyr-Medium.otf';
            src: url(../../fonts/HelveticaNeueCyr-Medium.otf);
        }
    </style>-->
</head>
<body style="padding:0px;margin:0px;">
<table class="content" width="100%"   border="0" cellspacing="0" cellpadding="0" style="padding-top: 65px;padding-bottom: 65px">
    <tr>
        <td align="center" bgcolor="white">
            <table border="0" cellspacing="0" cellpadding="0" width="600"
                   style="min-width:600px;border:3px solid black;height: auto; min-height: 700px">

                <tr>
                    <td align="center" bgcolor="#ffffff" style="display: block">
                        <table  style="width: 490px;  height:100%;"    border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left">
                                    <!-- padding -->
                                    <div style="height: 25px; line-height:25px; font-size:23px;">&nbsp;</div>

                                    <table width="490" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="120" height="auto" align="left" valign="top"
                                                style="padding-right: 40px"><img src="cid:logo"
                                                                                 width="100%" height="auto"
                                                                                 style=" display: block"
                                                                                 alt="avatar"/></td>

                                            <td align="left" valign="middle"
                                                style="line-height:24px; margin-left: 50px">

						<span style=" font-family: 'HelveticaNeueCyr-Medium.otf'; font-size: 26px; color:#cac3c3; display: block; line-height:24px;">
								${Greeting}, ${Name}!
						</span>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- padding -->
                                    <div style="height: 100px; line-height:50px; font-size:45px;">&nbsp;</div>
                                </td>
                            </tr>
                        </table>

                        <table width="490" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <div style="width: 100%;margin:0 auto; color:#2c3030; font-family: 'HelveticaNeueCyr-Medium.otf';font-size: 16px;text-align: center">
                                        <p>${title}</p>
                                    </div>
                                    <div style="width: 80%;margin:0 auto; color:#bebebe; font-family: 'HelveticaNeueCyr-Medium.otf';font-size: 16px;text-align: center">
                                        <p>${ignore}</p>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        #if(${message})
                            <!-- padding -->
                            <div style="height: 100px; line-height:30px;  ">&nbsp;</div>
                            <table width="490" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <div style="width: 60%;margin:0 auto; border-bottom: 1px solid black; color: #d9802d; font-family: 'HelveticaNeueCyr-Bold.otf';font-size:32px; text-align: center">
                                            ${message}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <!-- padding -->
                            <div style="height: 50px; line-height:30px;  ">&nbsp;</div>
                        #end


                        <table width="490" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center">
                                    <a href="${goto}" style="padding:8px 20px 8px 20px;diplay:inline-block;text-decoration: none; font-family: 'HelveticaNeueCyr-Bold.otf';  background-color: #d9802d; border-radius:10px; border-width: 0px; color:white;font-size: 26px; text-align: center">
                                        ${Action}
                                    </a>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>


            </table>
            <!-- padding -->
            <div style="height: 30px; line-height:30px; font-size:28px;">&nbsp;</div>
        </td>
    </tr>
    <!-- padding -->
    <div style="height: 30px; line-height:30px; font-size:28px;">&nbsp;</div>
</table>

</body>
</html>