*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'GothaProIta.otf';
    src: url(../../../css/general/fonts/GothaProIta.otf);
}
@font-face {
    font-family: 'GothaProBol.otf';
    src: url(../../../css/general/fonts/GothaProBol.otf);
}
@font-face {
    font-family: 'GothaProReg.otf';
    src: url(../../../css/general/fonts/GothaProReg.otf);
}
@font-face {
    font-family: 'HelveticaNeueCyr-Roman.otf';
    src: url(../../../css/general/fonts/HelveticaNeueCyr-Roman.otf);
}
@font-face {
    font-family: 'GothaProMed.otf';
    src: url(../../../css/general/fonts/GothaProMed.otf);
}
@font-face {
    font-family: 'GothaProMedIta.otf';
    src: url(../../../css/general/fonts/GothaProMedIta.otf);
}

.row{
    margin: 0!important;
    padding: 0!important;
}

    /*popup transfer design*/
    .popup_cont_transfer {
        position: absolute;
        z-index: 1;
        background-color: rgba(32, 32, 32, 0.5);
        width: 100%;
        top: 100px;
        padding: 5px;
        display: none;
    }

    .popup_main_transfer {
        width: 100%;
        min-height: 500px;
        height: auto;
        background-image: url(../../../img/wallet/wallet-popup/send_money_popup_bg.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        max-width: 900px;
    }

    .transfer_fee {
        width: auto;
        margin: 0 auto;
        text-align: center;
        font-size: 100%;

    }

    .popup_sm_header_transfer div:nth-child(2) {
        float: left;
        margin-left: 2px;
    }

    .popup_sm_header_transfer div:nth-child(2) span, .popup_sm_header_transfer div:nth-child(3) span {
        cursor: pointer;
    }

    .transffer_back_img_div,.transffer_next_img_div{
        width: auto;
        display: inline-block;
        cursor: pointer;
        height: 20px;
    }
    .transffer_back_img_div img,.transffer_next_img_div img{
        width: auto;
        height: 100%;
    }
    .popup_sm_header_transfer div:nth-child(3) {
        float: right;
        margin-right: 2px;
    }

    .popup_sm_header_transfer {
        width: 100%;
        height: 90px;
        border-bottom: 1px dotted rgb(126, 126, 126);
        font-size: 150%;
        color: #6d6d6d;
        font-family: 'GothaProMed.otf';
        margin-right: 10px;
    }

    .act-exc {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .cntr-res-n {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .cntr-res {
        width: 80%;
        margin: 0 auto;
        font-family: 'GothaProMed.otf';
        font-size: 120%;
        color: #6d6d6d;
        text-align: center;
    }
    .cntr-res span{
        display: block;
    }
    .ttl {
    text-align: right;
    }

    .ttr {
    text-align: left;
    }

    .det-des {
        padding: 5px 10px 5px 10px !important;
    }

    .det-des-1 {
        border-top: 1px dotted rgb(126, 126, 126);
        border-bottom: 1px dotted rgb(126, 126, 126);
        padding: 20px;
    }

    .det-tem {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-family: 'GothaProReg.otf';
        font-size: 120%;
        color: #7a7a7a;
    }
    .det-tem  span{
        display: block;
    }
    .show_details {
        display: none;
    }

    .pdes {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-family: 'GothaProReg.otf';
        font-size: 100%;
        color: #7a7a7a;
    }
    .pdes span{
        display: block;
    }
    .details_button {
        text-align: center;
    }

    .details_button span {
        margin: 20px auto;
        display: inline-block;
        font-family: 'GothaProMed.otf';
        font-size: 130%;
        color: #6d6d6d;
        padding: 5px 30px 5px 30px;
        border: 1px dotted rgb(126, 126, 126);
        border-radius: 10px;
        cursor: pointer;
        background-color: #fff7e6;
        letter-spacing: 2px;
    }

    .details_button span:hover {
        background-color: #e2e2e2;
    }

    .details_button span:active {
        background-color: #dddddd;
    }
    .popup_info_div{
        padding: 5px;
        width: 100%;
        overflow: auto;
        font-family: 'GothaProMed.otf';
        font-size: 100%;
        color: #6d6d6d;
        margin-bottom: 10px;
        text-align: center;
    }

@media all and (min-width: 500px) and (max-width: 767px){
.ttl {
    text-align: center;
}
    .ttr {
        text-align: center;
    }
}
    @media all and   (max-width: 500px) {

    /*popup transfer design*/
    .popup_cont_transfer {
        position: absolute;
        z-index: 1;
        background-color: rgba(32, 32, 32, 0.5);
        width: 100%;
        top: 100px;
        padding: 5px;
        display: none;
    }

    .popup_main_transfer {
        width: 100%;
        min-height: 500px;
        height: auto;
        background-image: url(../../../img/wallet/wallet-popup/send_money_popup_bg.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
    }

    .transfer_fee {
        width: auto;
        margin: 0 auto;
        text-align: center;
        font-size: 100%;

    }

    .popup_sm_header_transfer div:nth-child(2) {
        text-align: center;
        margin-left: 2px;
        float: none;
    }

    .popup_sm_header_transfer div:nth-child(2) span, .popup_sm_header_transfer div:nth-child(3) span {
        cursor: pointer;
    }

    .transffer_back_img_div,.transffer_next_img_div{
        width: auto;
        display: inline-block;
        cursor: pointer;
        height: 20px;
    }
    .transffer_back_img_div img,.transffer_next_img_div img{
        width: auto;
        height: 100%;
    }
    .popup_sm_header_transfer div:nth-child(3) {
        text-align: center;
        float: none;
        margin-right: 2px;
    }

    .popup_sm_header_transfer {
        width: 100%;
        height: 90px;
        border-bottom: 1px dotted rgb(126, 126, 126);
        font-size: 150%;
        color: #6d6d6d;
        font-family: 'GothaProMed.otf';
        margin-right: 10px;
    }

    .act-exc {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .cntr-res-n {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .cntr-res {
        width: 80%;
        margin: 0 auto;
        font-family: 'GothaProMed.otf';
        font-size: 120%;
        color: #6d6d6d;
        text-align: center;
    }
    .cntr-res span{
        display: block;
    }
    .ttl {
        text-align: center;
    }

    .ttr {
        text-align: center;
    }

    .det-des {
        padding: 5px 10px 5px 10px !important;
    }

    .det-des-1 {
        border-top: 1px dotted rgb(126, 126, 126);
        border-bottom: 1px dotted rgb(126, 126, 126);
        padding: 20px;
    }

    .det-tem {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-family: 'GothaProReg.otf';
        font-size: 120%;
        color: #7a7a7a;
    }
    .det-tem  span{
        display: block;
    }
    .show_details {
        display: none;
    }

    .pdes {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-family: 'GothaProReg.otf';
        font-size: 100%;
        color: #7a7a7a;
    }
    .pdes span{
        display: block;
    }
    .details_button {
        text-align: center;
    }

    .details_button span {
        margin: 20px auto;
        display: inline-block;
        font-family: 'GothaProMed.otf';
        font-size: 100%;
        color: #6d6d6d;
        padding: 5px 30px 5px 30px;
        border: 1px dotted rgb(126, 126, 126);
        border-radius: 10px;
        cursor: pointer;
        background-color: #fff7e6;
        letter-spacing: 2px;
    }

    .details_button span:hover {
        background-color: #e2e2e2;
    }

    .details_button span:active {
        background-color: #dddddd;
    }
    .popup_info_div{
        padding: 15px;
        width: 100%;
        overflow: auto;
        font-family: 'GothaProMed.otf';
        font-size: 100%;
        color: #6d6d6d;
        margin-bottom: 10px;
        text-align: center;
    }
}